<!-- Import PrimeNG components -->



<p-table [value]="books"  [paginator]="false" [rows]="10" [responsive]="true" #dt>
    <ng-template pTemplate="caption">
        <div class="p-clearfix" style="line-height: 1.87em">
            <p-messages [showTransitionOptions]="'1500ms'" [hideTransitionOptions]="'1500ms'"></p-messages>
            <button pButton type="button" label="Add" icon="pi pi-plus" (click)="showDialogToAdd()" class="p-button-success p-pull-right"></button>

        </div>
    </ng-template
>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Edition</th>
            <th>Category</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Publishing Date</th>
            <th>No. of Copies</th>
            <th>Available</th>
            <th>Borrowed Copies</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book let-i="index">
        <tr>
            <td>{{i + 1}}</td>


            <td>
                <img [src]="book.image" height="50" *ngIf="book.image">
            </td>
            <td>{{book.title}}</td>
            <td>{{book.edition}}</td>
            <td>{{book.category}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.publishingDate | date}}</td>
            <td>{{book.noOfCopies}}</td>
            <td>{{book.available}}</td>
            <td>{{book.borrowedCopies}}</td>
            <td>
                <button pButton type="button" icon="pi pi-pencil" (click)="editBook(book)"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="confirmDeleteBook(book)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Dialog for adding/editing books -->
<p-dialog header="Add/Edit Book" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{'width': '500px'}">

    <ng-container *ngIf="book">
        <form #bookForm="ngForm" enctype="multipart/form-data">
            <div class="p-grid">
                <div class="p-col-12">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" [(ngModel)]="book.title" required #title="ngModel">
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="p-error">Title is required and should be at least 3 characters</div>

                </div>
                <div class="p-col-12">
                    <label for="author">Author</label>
                    <input type="text" id="author" name="author" [(ngModel)]="book.author" required #author="ngModel">
                    <div *ngIf="author.invalid && (author.dirty || author.touched)" class="p-error">Author is required and should be at least 3 characters</div>

                </div>
                <div class="p-col-12">
                    <label for="publisher">Publisher</label>
                    <input type="text" id="publisher" name="publisher" [(ngModel)]="book.publisher" required #publisher="ngModel">
                    <div *ngIf="publisher.invalid && (publisher.dirty || publisher.touched)" class="p-error">Publisher is required and should be at least 3 characters</div>
                </div>
                <div class="p-col-12">
                    <label for="category">Category</label>
<!--                    <p-dropdown #category="ngModel"  id="category" [required]="true" [options]="categories" [(ngModel)]="book.category" name="category" *ngIf="(this.book._id)" [filterValue]="this.book.category"></p-dropdown>-->
                    <ng-container *ngIf="this.book._id">
                        <p-dropdown #category="ngModel" id="category" [required]="true" [options]="categories" [(ngModel)]="book.category" name="category" [filterValue]="this.book.category"></p-dropdown>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)" class="p-error">Category is required</div>
                    </ng-container>
                    <ng-container *ngIf="!this.book._id">
                        <p-dropdown #category="ngModel" id="category" [required]="true" [options]="categories" [(ngModel)]="book.category" name="category"></p-dropdown>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)" class="p-error">Category is required</div>
                    </ng-container>
                </div>
                <div class="p-col-12">
                    <label for="publishingDate">Publishing Date</label>
                    <p-calendar dateFormat="yy-mm-dd" [required]="true" id="publishingDate" name="publishingDate" [(ngModel)]="book.publishingDate" #publishingDate="ngModel"></p-calendar>
                    <div *ngIf="publishingDate.invalid && (publishingDate.dirty || publishingDate.touched)" class="p-error">Publishing Date is required and should be a valid date</div>
                </div>

                <div class="p-col-12">
                    <label for="edition">Edition</label>
                    <input min="1" type="number" id="edition" name="edition" [(ngModel)]="book.edition" required #edition="ngModel">
                    <div *ngIf="edition.invalid && (edition.dirty || edition.touched)" class="p-error">Edition is required and should be a number</div>
                </div>
                <div class="p-col-12">
                    <label for="pages">Pages</label>
                    <input min="1"  type="number" id="pages" name="pages" [(ngModel)]="book.pages" required #pages="ngModel">
                    <div *ngIf="pages.invalid && (pages.dirty || pages.touched)" class="p-error">Pages is required and should be a number</div>
                </div>
                <div class="p-col-12">
                    <label for="noOfCopies">No. of Copies</label>
                    <input min="1"  type="number" id="noOfCopies" name="noOfCopies" [(ngModel)]="book.noOfCopies" required #noOfCopies="ngModel">
                    <div *ngIf="noOfCopies.invalid && (noOfCopies.dirty || noOfCopies.touched)" class="p-error">No. of Copies is required and should be a number</div>
                </div>
                <div class="p-col-12">
                    <label for="shelfNo">Shelf No.</label>
                    <input min="1"  type="number" id="shelfNo" name="shelfNo" [(ngModel)]="book.shelfNo" required #shelfNo="ngModel">
                    <div *ngIf="shelfNo.invalid && (shelfNo.dirty || shelfNo.touched)" class="p-error">Shelf No. is required and should be a number</div>
                </div>
                <div class="p-col-12">
                    <label for="image">Image URL</label>
                    <input type="file" id="image" name="image" [(ngModel)]="book.image" required accept="image/*" #image="ngModel">
                    <div *ngIf="image.invalid && (image.dirty || image.touched)" class="p-error">Image is required</div>
<!--                    <p-fileUpload  name="image" id="image" [multiple]="false" accept="image/*"></p-fileUpload>-->
<!--                    <div *ngIf="image.invalid && (image.dirty || image.touched)" class="p-error">Image is required</div>-->
                </div>
                <div class="p-dialog-footer">
                    <button pButton type="button" label="Save" (click)="saveBook()" [disabled]="!bookForm.valid"></button>
                    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
                </div>
            </div>

        </form>
    </ng-container>
    <!--
    <form #bookForm="ngForm" (ngSubmit)="saveBook()">
        <div class="p-grid">
            <div class="p-col-12">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" [(ngModel)]="book.title" required #title="ngModel">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="p-error">Title is required and should be at least 3 characters</div>
            </div>
            <div class="p-col-12">
                <label for="author">Author</label>
                <input type="text" id="author" name="author" [(ngModel)]="book.author" required #author="ngModel">
                <div *ngIf="author.invalid && (author.dirty || author.touched)" class="p-error">Author is required and should be at least 3 characters</div>
            </div>
            <div class="p-col-12">
                <label for="publisher">Publisher</label>
                <input type="text" id="publisher" name="publisher" [(ngModel)]="book.publisher" required #publisher="ngModel">
                <div *ngIf="publisher.invalid && (publisher.dirty || publisher.touched)" class="p-error">Publisher is required and should be at least 3 characters</div>
            </div>
            <div class="p-col-12">
                <label for="category">Category</label>
                <select id="category" name="category" [(ngModel)]="book.category" required #category="ngModel">
                    <option value="">-- Select Category --</option>
                    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
                <div *ngIf="category.invalid && (category.dirty || category.touched)" class="p-error">Category is required and should be one of the provided options</div>
            </div>
            <div class="p-col-12">
                <label for="publishingDate">Publishing Date</label>
                <p-calendar [required]="true" id="publishingDate" name="publishingDate" [(ngModel)]="book.publishingDate" #publishingDate="ngModel"></p-calendar>
                <div *ngIf="publishingDate.invalid && (publishingDate.dirty || publishingDate.touched)" class="p-error">Publishing Date is required</div>
            </div>
            <div class="p-col-12">
                <label for="edition">Edition</label>
                <input type="number" id="edition" name="edition" [(ngModel)]="book.edition" required #edition="ngModel">
                <div *ngIf="edition.invalid && (edition.dirty || edition.touched)" class="p-error">Edition is required and should be a number greater than 0</div>
            </div>
            <div class="p-col-12">
                <label for="pages">Pages</label>
                <input type="number" id="pages" name="pages" [(ngModel)]="book.pages" required #pages="ngModel">
                <div *ngIf="pages.invalid && (pages.dirty || pages.touched)" class="p-error">Pages is required and should be a number greater than 0</div>
            </div>
        </div>
        <div class="p-dialog-footer">
            <button pButton type="submit" label="Save" [disabled]="bookForm.invalid"></button>
            <button pButton type="button" label="Cancel" (click)="cancel()"></button>
        </div>
    </form>
    -->

</p-dialog>
<p-paginator
        [rowsPerPageOptions]="rowsPerPageOptions"
        [first]="first"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [totalRecords]="totalBooksCount"
        [rows]="booksPerPage"
        (onPageChange)="onPageChange($event)"
>
</p-paginator>
<!-- Dialog for confirming book deletion -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [closable]="true">
    <p-footer>
<!--        <button type="button" pButton icon="pi pi-times" label="No" class="p-button-text" (click)="messageService.clear('deleteBook')"></button>-->
        <button type="button" pButton icon="pi pi-times" label="No" class="p-button-text" (click)="confirmationService.close()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="p-button-text" (click)="deleteConfirmed()"></button>
    </p-footer>
</p-confirmDialog>


