<div class="card w-50 mx-auto my-4">
    <img *ngIf="admin.image" [src]="admin.image" alt="{{admin.firstName}}" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title mb-3">Admin: {{fullName}}</h5>
        <div class="card-text">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <td>{{admin._id}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{admin.firstName}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{admin.lastName}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{admin.email}}</td>
                </tr>
                <tr *ngIf="admin.birthDate">
                    <th>Birth Date</th>
                    <td>{{admin.birthDate | date:'yyyy/MM/dd'}}</td>
                </tr>
                <tr>
                    <th>Hire Date</th>
                    <td>{{admin.hireDate | date:'yyyy/MM/dd'}}</td>
                </tr>
                <tr>
                    <th>Salary</th>
                    <td>{{admin.salary}}</td>
                </tr>
                <tr *ngIf="admin.activated">
                    <th>Activated</th>
                    <td>{{admin.activated}}</td>
                </tr>
                <tr *ngIf="admin.lastLoginTime">
                    <th>Last Login</th>
                    <td>{{admin.lastLoginTime}}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{admin.createdAt | date:'yyyy/MM/dd'}}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td>{{admin.updatedAt | date:'yyyy/MM/dd'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-primary" [routerLink]="'/admin/admins'">Show All Admin</a>
    </div>
</div>
