<div class="card w-50 mx-auto my-4">
    <img *ngIf="member.image" [src]="member.image" alt="{{member.full_name}}" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title mb-3">Member: {{member.full_name}}</h5>
        <div class="card-text">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <td>{{member._id}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{member.email}}</td>
                </tr>
                <tr *ngIf="member.phone_number">
                    <th>Phone Number</th>
                    <td>{{member.phone_number}}</td>
                </tr>

                <tr *ngIf="member.birth_date">
                    <th>Birth Date</th>
                    <td>{{member.birth_date | date:'yyyy/MM/dd'}}</td>
                </tr>
                <tr *ngIf="member.address.city">
                    <th>City</th>
                    <td>{{member.address.city}}</td>
                </tr>
                <tr *ngIf="member.address.street">
                    <th>Street</th>
                    <td>{{member.address.street}}</td>
                </tr>
                <tr *ngIf="member.address.building">
                    <th>Building</th>
                    <td>{{member.address.building}}</td>
                </tr>
                <tr>
                    <th>Activated</th>
                    <td>{{member.activated}}</td>
                </tr>

                <tr *ngIf="member.ban_date">
                    <th>Banned Until</th>
                    <td>{{member.ban_date | date:'yyyy/MM/dd'}}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{member.created_at | date:'yyyy/MM/dd'}}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td>{{member.updated_at | date:'yyyy/MM/dd'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-primary" [routerLink]="'/admin/members'">Show All Members</a>
    </div>
</div>
