<h1 class="middle">Best Borrowed Books</h1>
<hr class="line">
<p-carousel [value]="books" [numVisible]="3" [numScroll]="3" [circular]="true" autoPlayInterval="3000">
    <ng-template let-book pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <img src="{{ book.image }}" [alt]="book.title" class="w-6 shadow-2" />
            </div>
            <div>
                <h4 class="mb-1">{{ book.title }}</h4>
                <h6 class="mt-0 mb-3">{{ book.author }}</h6>
                <h6 class="mt-0 mb-3">{{ book.category }}</h6>
                <a [routerLink]="['/books', book._id]">More Data</a>
            </div>
        </div>
    </ng-template>
</p-carousel>
<!-- <div class="card">
      <img src="{{ book.image }}" alt="{{ book.title }}">
      <div class="card-content">
        <h2 class="card-title">{{ book.title }}</h2>
        <p class="card-author">{{ book.author }}</p>
        <p class="card-category">{{ book.category }}</p>
        <a [routerLink]="['/books', book._id]">{{ book.title }}</a>
      </div>
    </div> -->