<div class="container">
  <div class="h1 text-center text-capitalize text-secondary"> Add new Book </div>
  <form [formGroup]="createBook" (ngSubmit)="onSubmit()" *ngIf="!loadingService.isLoading$.value">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        [class.is-valid]="title?.valueChanges && title?.valid"
        required
      />

      <!-- title validation  -->
      <ng-container *ngIf="title?.errors && title?.touched">
        <div *ngIf="title?.hasError('required')">
          <div class="alert alert-danger mt-1" role="alert">
            title is required
          </div>
        </div>

        <div *ngIf="title?.hasError('minlength')">
          <div class="alert alert-danger mt-1" role="alert">
            title should have at least 3 characters
          </div>
        </div>
      </ng-container>
    </div>

    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        formControlName="author"
        [class.is-valid]="author?.valueChanges && author?.valid"
        required
      />
    </div>
    <!-- author validation  -->
    <ng-container *ngIf="author?.errors && author?.touched">
      <div *ngIf="author?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          author is required
        </div>
      </div>

      <div *ngIf="author?.hasError('minlength')">
        <div class="alert alert-danger mt-1" role="alert">
          author should have at least 3 characters
        </div>
      </div>
    </ng-container>

    <div class="mb-3">
      <label for="publisher" class="form-label">Publisher</label>
      <input
        type="text"
        class="form-control"
        id="publisher"
        formControlName="publisher"
        [class.is-valid]="publisher?.valueChanges && publisher?.valid"
        required
      />
    </div>

    <!-- publisher validation  -->
    <ng-container *ngIf="publisher?.errors && publisher?.touched">
      <div *ngIf="publisher?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          publisher is required
        </div>
      </div>

      <div *ngIf="publisher?.hasError('minlength')">
        <div class="alert alert-danger mt-1" role="alert">
          publisher should have at least 3 characters
        </div>
      </div>
    </ng-container>

    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        class="form-select"
        id="category"
        formControlName="category"
        [class.is-valid]="category?.valueChanges && category?.valid"
        required
      >
        <option selected>
          Select Category
        </option>
        <ng-container *ngFor="let category of categories; let i = index">
          <option value="{{ category }}">{{ category }}</option>
        </ng-container>
      </select>
    </div>

    <!-- category validation  -->
    <ng-container *ngIf="category?.errors && category?.touched">
      <div *ngIf="category?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          you must select a category
        </div>
      </div>
    </ng-container>

    <div class="mb-3">
      <label for="publishingDate" class="form-label">Publishing Date</label>
      <input
        type="date"
        class="form-control"
        id="publishingDate"
        formControlName="publishingDate"
        [class.is-valid]="publishingDate?.valueChanges && publishingDate?.valid"
        required
      />
    </div>
    <!-- publishing Date validation  -->
    <ng-container *ngIf="publishingDate?.errors && publishingDate?.touched">
      <div *ngIf="publishingDate?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          you must select a publishing Date
        </div>
      </div>
    </ng-container>


    <div class="mb-3">
      <label for="edition" class="form-label">Edition</label>
      <input
        type="number"
        class="form-control"
        id="edition"
        formControlName="edition"
        [class.is-valid]="edition?.valueChanges && edition?.valid"
        required
      />
    </div>
    <!-- edition  validation  -->
    <ng-container *ngIf="edition?.errors && edition?.touched">
      <div *ngIf="edition?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          edition is required
        </div>
      </div>
        <div *ngIf="edition?.hasError('min')">
        <div class="alert alert-danger mt-1" role="alert">
          edition is must be grater then 0 
        </div>
      </div>
    </ng-container>


    

    <div class="mb-3">
      <label for="pages" class="form-label">Pages</label>
      <input
        type="number"
        class="form-control"
        id="pages"
        formControlName="pages"
        [class.is-valid]="pages?.valueChanges && pages?.valid"
        required
        min="1"
      />
    </div>
    <!-- pages validation  -->
    <ng-container *ngIf="pages?.errors && pages?.touched">
      <div *ngIf="pages?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          pages number is required
        </div>
      </div>

      <div *ngIf="pages?.hasError('min')">
        <div class="alert alert-danger mt-1" role="alert">
          pages number should grater than 0
        </div>
      </div>
    </ng-container>

    <div class="mb-3">
      <label for="noOfCopies" class="form-label">Number of Copies</label>
      <input
        type="number"
        class="form-control"
        id="noOfCopies"
        formControlName="noOfCopies"
        [class.is-valid]="noOfCopies?.valueChanges && noOfCopies?.valid"
        required
        min="1"
      />
    </div>

    <!-- number of copies   validation  -->
    <ng-container *ngIf="noOfCopies?.errors && noOfCopies?.touched">
      <div *ngIf="noOfCopies?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          number of copies is required
        </div>
      </div>
      <div *ngIf="noOfCopies?.hasError('min')">
        <div class="alert alert-danger mt-1" role="alert">
          number of copies should grater than 1
        </div>
      </div>
    </ng-container>

    <div class="mb-3">
      <label for="shelfNo" class="form-label">Shelf Number</label>
      <input
        type="number"
        class="form-control"
        id="shelfNo"
        formControlName="shelfNo"
        [class.is-valid]="shelfNo?.valueChanges && shelfNo?.valid"
        required
        min="0"
      />
    </div>

    <!-- number of copies   validation  -->
    <ng-container *ngIf="noOfCopies?.errors && noOfCopies?.touched">
      <div *ngIf="noOfCopies?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          number of copies is required
        </div>
      </div>
      <div *ngIf="noOfCopies?.hasError('min')">
        <div class="alert alert-danger mt-1" role="alert">
          number of copies should grater than 1
        </div>
      </div>
    </ng-container>

    <div class="mb-3">
      <label for="image" class="form-label"> Book cover image </label>
      <input
        type="file"
        class="form-control"
        id="image"
        formControlName="image"
        [class.is-valid]="image?.valueChanges && image?.valid"
        required
      />
    </div>
    <!-- image  validation  -->
    <ng-container *ngIf="image?.errors && image?.touched">
      <div *ngIf="image?.hasError('required')">
        <div class="alert alert-danger mt-1" role="alert">
          image is required
        </div>
      </div>
    </ng-container>
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-success"
        id="submit"
        [disabled]="createBook.invalid"
      />
    </div>
  </form>
  <p-progressSpinner *ngIf="loadingService.isLoading$.value" styleClass="w-50  h-50 col-12"></p-progressSpinner>
</div>
