<div class="container-fluid">
  <ng-container *ngFor="let book of books; index as i">
    <p-skeleton
      *ngIf="loadingService.isLoading$"
      width="30%"
      height="20%"
    ></p-skeleton>
    <app-bookItem
      class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
      [bookItem]="book"
    ></app-bookItem>
  </ng-container>
</div>

<h1>{{ loadingService.isLoading$.value }}</h1>
<div class="row">
  <div class="card flex justify-content-center col-12">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="rowsPerPageOptions"
    ></p-paginator>
  </div>
</div>
<router-outlet></router-outlet>
