<p-toast></p-toast>
<p-table [paginator]="true" [responsive]="true" [rows]="5" [value]="members">
    <ng-template pTemplate="caption">
        <div class="d-flex align-items-center justify-content-between" >
            <h3 class="mb-0">Members: {{ members.length }}</h3>
            <button (click)="showAddDialog()" class="p-button-success p-pull-right" icon="pi pi-plus" label="Add"
                    pButton
                    type="button"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Activated</th>
            <th>Action</th>
        </tr>
    </ng-template>

    <ng-template let-member pTemplate="body">
        <tr>
            <td>{{member["_id"]}}</td>
            <td><a routerLink="{{member._id}}">{{member["full_name"]}}</a></td>
            <td>{{member["email"]}}</td>
            <td>{{member["activated"]}}</td>
            <td>
                <div class="input-group">

                    <button (click)="showEditDialog(member)"
                            class="p-button-warning"
                            icon="pi pi-pencil" label="Edit"
                            pButton
                            type="button"></button>
                    <button (click)="confirmDelete(member)" class="p-button-danger" icon="pi pi-trash" label="Delete"
                            pButton
                            type="button"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<!--Add Member Form-->
<p-dialog [(visible)]="addDialog" [modal]="true" [responsive]="true" [style]="{'width': '500px'}"
          header="Add Member">
    <form [formGroup]="addForm" enctype="multipart/form-data">
        <div class="row">

            <div class="col-md-12 mb-3">
                <div class="form-floating mb-3">
                    <input class="form-control" id="full_name"
                           pInputText
                           formControlName="full_name"
                           required type="text">
                    <label for="full_name">Full Name</label>
                </div>
                <div class="p-error" *ngIf="addForm.controls['full_name']?.invalid && (addForm.controls['full_name'].dirty || addForm.controls['full_name'].touched)">
                    <div *ngIf="addForm.controls['full_name'].errors.required">
                        Full Name is required.
                    </div>
                    <div *ngIf="addForm.controls['full_name'].errors.pattern">
                        Full Name is not valid (letter only).
                    </div>
                </div>
            </div>



            <div class="col-md-12 mb-3">
                <div class="form-floating mb-3">
                    <input class="form-control" id="email"
                           pInputText
                           formControlName="email"
                           required type="text">
                    <label for="email">Email</label>
                </div>
                <div class="p-error" *ngIf="addForm.controls['email']?.invalid && (addForm.controls['email'].dirty || addForm.controls['email'].touched)">
                    <div *ngIf="addForm.controls['email'].errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="addForm.controls['email'].errors.pattern">
                        Email is not valid.
                    </div>
                </div>
            </div>
            <div class="p-dialog-footer">
                <button (click)="Add()"
                        label="Save"
                        class="p-button-success"
                        [disabled]="addForm.invalid"
                        pButton type="button"></button>
                <button (click)="cancelAddDialog()" label="Cancel" pButton type="button"></button>
            </div>
        </div>

    </form>
</p-dialog>


<!-- Edit Member Form -->
<p-dialog [(visible)]="editDialog" [modal]="true" [responsive]="true" [style]="{'width': '500px'}"
          header="Edit Member">
    <form [formGroup]="editForm" (ngSubmit)="update()" enctype="multipart/form-data">
        <div class="row">

            <!-- Full Name -->
            <div class="col-md-12 mb-3">
                <div class="form-floating mb-3">
                    <input class="form-control"
                           pInputText
                           formControlName="full_name"
                           required type="text">
                    <label>Full Name</label>
                </div>
                <div class="p-error" *ngIf="editForm.controls['full_name']?.invalid && (editForm.controls['full_name'].dirty || editForm.controls['full_name'].touched)">
                    <div *ngIf="editForm.controls['full_name'].errors.required">
                        Full Name is required.
                    </div>
                    <div *ngIf="editForm.controls['full_name'].errors.pattern">
                        Full Name Must be Letters Only
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="col-md-12 mb-3">
                <div class="form-floating mb-3">
                    <input class="form-control"
                           pInputText
                           formControlName="email"
                           required type="text">
                    <label>Email</label>
                </div>
                <div class="p-error" *ngIf="editForm.controls['email']?.invalid && (editForm.controls['email'].dirty || editForm.controls['email'].touched)">
                    <div *ngIf="editForm.controls['email'].errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="editForm.controls['email'].errors.pattern">
                        Email is not valid.
                    </div>
                </div>
            </div>

            <!-- Birth date -->
            <div class="col-md-12 mb-3">
                <div class="form-floating mb-3">
                    <input class="form-control"
                           pInputText
                           formControlName="birth_date"
                           required type="date">
                    <label>Birth Date</label>
                </div>
                <div class="p-error" *ngIf="editForm.controls['birth_date']?.invalid && (editForm.controls['birth_date'].dirty || editForm.controls['birth_date'].touched)">
                    <div *ngIf="editForm.controls['birth_date'].errors.required">
                        Birth Date is required.
                    </div>
                    <div *ngIf="editForm.controls['birth_date'].errors.invalidDate">
                        Birth Date is not valid.
                    </div>
                </div>
            </div>

            <!-- Phone Number -->
            <div class="col-md-12 mb-3">
                <div class="form-floating mb-3">
                    <input class="form-control"
                           pInputText
                           formControlName="phone_number"
                           required type="string">
                    <label>Phone Number</label>
                </div>
                <div class="p-error" *ngIf="editForm.controls['phone_number']?.invalid && (editForm.controls['phone_number'].dirty || editForm.controls['phone_number'].touched)">
                    <div *ngIf="editForm.controls['phone_number'].errors.required">
                        Phone Number is required.
                    </div>
                    <div *ngIf="editForm.controls['phone_number'].errors.pattern">
                        Phone Number is Invalid.
                    </div>
                </div>
            </div>

            <!-- City -->
            <div class="col-md-12 mb-3" formGroupName="address">
                <div class="col-md-12 mb-3">
                    <div class="form-floating mb-3">
                        <input class="form-control"
                               pInputText
                               formControlName="city"
                               required type="text">
                        <label>City</label>
                    </div>
                    <div class="p-error" *ngIf="editForm.controls['city']?.invalid && (editForm.controls['city'].dirty || editForm.controls['city'].touched)">
                        <div *ngIf="editForm.controls['city'].errors.required">
                           City is required.
                        </div>
                        <div *ngIf="editForm.controls['city'].errors.pattern">
                            City Must be Letters Only
                        </div>
                    </div>
                </div>

                <!-- Street -->
                <div class="col-md-12 mb-3">
                    <div class="form-floating mb-3">
                        <input class="form-control"
                               pInputText
                               formControlName="street"
                               required type="text">
                        <label>Street</label>
                    </div>
                    <div class="p-error" *ngIf="editForm.controls['street']?.invalid && (editForm.controls['street'].dirty || editForm.controls['street'].touched)">
                        <div *ngIf="editForm.controls['street'].errors.required">
                            Street is required.
                        </div>
                        <div *ngIf="editForm.controls['street'].errors.pattern">
                            Street Must be Letters Only
                        </div>
                    </div>
                </div>

                <!-- Building -->
                <div class="col-md-12 mb-3">
                    <div class="form-floating mb-3">
                        <input class="form-control"
                               pInputText
                               formControlName="building"
                               required type="text">
                        <label>Building</label>
                    </div>
                    <div class="p-error" *ngIf="editForm.controls['building']?.invalid && (editForm.controls['building'].dirty || editForm.controls['building'].touched)">
                        <div *ngIf="editForm.controls['building'].errors.required">
                            Building is required.
                        </div>
                        <div *ngIf="editForm.controls['building'].errors.pattern">
                            Building Must be a Number
                        </div>
                    </div>
                </div>
            </div>
<!--            image-->
            <div class="col-md-12 mb-3">
                <div class="mb-3">
                    <img [src]="this.image" class="w-50 d-block mx-auto">
                    <label class="form-label">Image</label>
                    <input class="form-control"
                           (change)="onFileChange($event)"
                           type="file">
                </div>
            </div>
            <div class="p-dialog-footer">
                <button (click)="update()" label="Save" pButton class="p-button-success"

                        type="button"></button>
                <button (click)="cancelEditDialog()" label="Cancel" pButton type="button"></button>
            </div>
        </div>

    </form>
</p-dialog>


<p-confirmDialog [closable]="true" header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button (click)="confirmationService.close()" class="p-button-text" icon="pi pi-times" label="No" pButton
                type="button"></button>
        <button (click)="deleteConfirmed()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                type="button"></button>
    </p-footer>
</p-confirmDialog>