<!-- Import PrimeNG components -->


<p-table #dt [paginator]="false" [responsive]="true" [rows]="10" [value]="members">
    <ng-template pTemplate="caption">
        <div class="p-clearfix" style="line-height: 1.87em">
            <p-messages key="ativationError"></p-messages>
            <p-messages [hideTransitionOptions]="'1500ms'" [showTransitionOptions]="'1500ms'"></p-messages>
            <button (click)="showDialogToAdd()" class="p-button-success p-pull-right" icon="pi pi-plus" label="Add"
                    pButton
                    type="button"></button>

        </div>
    </ng-template
    >
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Activated</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-member pTemplate="body">
        <tr>
            <td>{{i + 1 + (membersPerPage * (currentPage - 1))}}</td>
            <td>{{member._id}}</td>
            <td>{{member.full_name}}</td>
            <td>{{member.email}}</td>
            <td>{{member.activated}}</td>
            <td>
                <button (click)="editMember(member)" icon="pi pi-pencil" pButton type="button"></button>
                <button (click)="confirmDeleteMember(member)" class="p-button-danger" icon="pi pi-trash" pButton
                        type="button"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Dialog for adding members -->
<p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{'width': '500px'}"
          header="Add/Edit Member">

    <ng-container *ngIf="member">
        <form #memberForm="ngForm" enctype="multipart/form-data">
            <div class="p-grid">
                <div class="p-col-12">
                    <label for="full_name">Full Name</label>
                    <input #full_name="ngModel" [(ngModel)]="member.full_name" id="full_name" name="full_name" required
                           type="text">
                    <div *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)" class="p-error">Full Name
                        is required and
                        should be at least 3 characters
                    </div>
                    <p-messages key="full_name"></p-messages>
                </div>
                <div class="p-col-12">
                    <label for="email">Email</label>
                    <input #email="ngModel" [(ngModel)]="member.email" id="email" name="email" required type="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">Email is required
                    </div>
                    <p-messages key="email"></p-messages>
                    <p-messages key="MongoServerError"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="password">Password</label>
                    <input #password="ngModel" [(ngModel)]="member.password" id="password" name="password" required
                           type="password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-error">Password
                        is
                        required
                    </div>
                    <p-messages key="password"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="image">Image</label>
                    <input #image="ngModel" [(ngModel)]="member.image" id="image" name="image" required type="file">
                    <div *ngIf="image.invalid && (image.dirty || image.touched)" class="p-error">Image is required
                    </div>
                    <p-messages key="image"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="phone_number">Phone Number</label>
                    <input #phone_number="ngModel" [(ngModel)]="member.phone_number" id="phone_number"
                           name="phone_number" required type="string">
                    <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)"
                         class="p-error">
                        Phone is required
                    </div>
                    <p-messages key="phone_number"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="birth_date">Birth Date</label>
                    <input #birth_date="ngModel" [(ngModel)]="member.birth_date" id="birth_date" name="birth_date"
                           required type="date">
                    <div *ngIf="birth_date.invalid && (birth_date.dirty || birth_date.touched)" class="p-error">
                        Birth is
                        required
                    </div>
                    <p-messages key="birth_date"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="city">City</label>
                    <input #city="ngModel" [(ngModel)]="member.address.city" id="city" name="city" required
                           type="text">
                    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="p-error">city is required
                    </div>
                    <p-messages key="city"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="street">Street</label>
                    <input #street="ngModel" [(ngModel)]="member.address.street" id="street" name="street"
                           required
                           type="text">
                    <div *ngIf="street.invalid && (street.dirty || street.touched)" class="p-error">street is
                        required
                    </div>
                    <p-messages key="street"></p-messages>
                </div>
                <div *ngIf="editMemberFlag && member.activated" class="p-col-12">
                    <label for="building">Building</label>
                    <input #building="ngModel" [(ngModel)]="member.address.building" id="building"
                           name="building"
                           required type="number">
                    <div *ngIf="building.invalid && (building.dirty || building.touched)" class="p-error">
                        building
                        is required
                    </div>
                    <p-messages key="building"></p-messages>
                </div>

                <div class="p-dialog-footer">
                    <button (click)="saveMember()" [disabled]="!memberForm.valid" label="save" pButton
                            type="button"></button>
                    <button (click)="cancel()" label="Cancel" pButton type="button"></button>
                </div>
            </div>

        </form>
    </ng-container>


</p-dialog>

<!--Dialog for Editing members-->

<!--<p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{'width': '500px'}"-->
<!--          header="Edit Member">-->

<!--    <ng-container *ngIf="member">-->
<!--        <form #editMemberForm="ngForm" enctype="multipart/form-data">-->
<!--            <div class="p-grid">-->
<!--                <div class="p-col-12">-->
<!--                    <label for="full_name">Full Name</label>-->
<!--                    <input #full_name="ngModel" [(ngModel)]="member.full_name" id="full_name" name="full_name" required-->
<!--                           type="text">-->
<!--                    <div *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)" class="p-error">Full Name-->
<!--                        is required and-->
<!--                        should be at least 3 characters-->
<!--                    </div>-->
<!--                    <p-messages key="full_name"></p-messages>-->
<!--                </div>-->
<!--                <div class="p-col-12">-->
<!--                    <label for="email">Email</label>-->
<!--                    <input #email="ngModel" [(ngModel)]="member.email" id="email" name="email" required type="email">-->
<!--                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">Email is required-->
<!--                    </div>-->
<!--                    <p-messages key="email"></p-messages>-->
<!--                    <p-messages key="MongoServerError"></p-messages>-->
<!--                </div>-->


<!--                <div class="p-col-12">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input #password="ngModel" [(ngModel)]="member.password" id="password" name="password" required-->
<!--                           type="password">-->
<!--                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-error">Password is-->
<!--                        required-->
<!--                    </div>-->
<!--                    <p-messages key="password"></p-messages>-->
<!--                </div>-->
<!--                <div class="p-col-12">-->
<!--                    <label for="image">Image</label>-->
<!--                    <input #image="ngModel" [(ngModel)]="member.image" id="image" name="image" required type="file">-->
<!--                    <div *ngIf="image.invalid && (image.dirty || image.touched)" class="p-error">Image is required-->
<!--                    </div>-->
<!--                    <p-messages key="image"></p-messages>-->
<!--                </div>-->
<!--                <div class="p-col-12">-->
<!--                    <label for="phone_number">Phone Number</label>-->
<!--                    <input #phone_number="ngModel" [(ngModel)]="member.phone_number" id="phone_number"-->
<!--                           name="phone_number" required type="string">-->
<!--                    <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)" class="p-error">-->
<!--                        Phone is required-->
<!--                    </div>-->
<!--                    <p-messages key="phone_number"></p-messages>-->
<!--                </div>-->
<!--                <div class="p-col-12">-->
<!--                    <label for="birth_date">Birth Date</label>-->
<!--                    <input #birth_date="ngModel" [(ngModel)]="member.birth_date" id="birth_date" name="birth_date"-->
<!--                           required type="date">-->
<!--                    <div *ngIf="birth_date.invalid && (birth_date.dirty || birth_date.touched)" class="p-error">Birth is-->
<!--                        required-->
<!--                    </div>-->
<!--                    <p-messages key="birth_date"></p-messages>-->
<!--                </div>-->
<!--                <div class="p-col-12" formGroupName="address">-->
<!--                    <div class="p-col-12">-->
<!--                        <label for="city">City</label>-->
<!--                        <input #city="ngModel" [(ngModel)]="member.address.city" id="city" name="city" required-->
<!--                               type="text">-->
<!--                        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="p-error">city is required-->
<!--                        </div>-->
<!--                        <p-messages key="city"></p-messages>-->
<!--                    </div>-->
<!--                    <div class="p-col-12">-->
<!--                        <label for="street">Street</label>-->
<!--                        <input #street="ngModel" [(ngModel)]="member.address.street" id="street" name="street" required-->
<!--                               type="text">-->
<!--                        <div *ngIf="street.invalid && (street.dirty || street.touched)" class="p-error">street is-->
<!--                            required-->
<!--                        </div>-->
<!--                        <p-messages key="street"></p-messages>-->
<!--                    </div>-->
<!--                    <div class="p-col-12">-->
<!--                        <label for="building">Building</label>-->
<!--                        <input #building="ngModel" [(ngModel)]="member.address.building" id="building" name="building"-->
<!--                               required type="number">-->
<!--                        <div *ngIf="building.invalid && (building.dirty || building.touched)" class="p-error">building-->
<!--                            is required-->
<!--                        </div>-->
<!--                        <p-messages key="building"></p-messages>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="p-dialog-footer">-->
<!--                    <button (click)="editMember(member)" [disabled]="!memberForm.valid" label="Edit" pButton-->
<!--                            type="button"></button>-->
<!--                    <button (click)="cancel()" label="Cancel" pButton type="button"></button>-->
<!--                </div>-->
<!--            </div>-->

<!--        </form>-->
<!--    </ng-container>-->

<!--</p-dialog>-->

<p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [rows]="membersPerPage"
        [showCurrentPageReport]="true"
        [totalRecords]="totalMembersCount"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
</p-paginator>
<!-- Dialog for confirming member deletion -->
<p-confirmDialog [closable]="true" header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <!--        <button type="button" pButton icon="pi pi-times" label="No" class="p-button-text" (click)="messageService.clear('deleteMember')"></button>-->
        <button (click)="confirmationService.close()" class="p-button-text" icon="pi pi-times" label="No" pButton
                type="button"></button>
        <button (click)="deleteConfirmed()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                type="button"></button>
    </p-footer>
</p-confirmDialog>


