<div class="container-fluid">
  <!-- loading -->
  <ng-container *ngFor="let number of getNumbersArray(1,12); index as i">

    <p-skeleton
            *ngIf="loadingService.isLoading$.value"
            width="25rm"
            height="50rem"
            borderRadius="16px"
            styleClass="col-s-5 col-sm-5 col-md-3 col-xl-2 p-6 m-4 "
    ></p-skeleton>

  </ng-container>
  <!-- end loading -->
  <p-table [value]="members" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-member let-columns="columns">
      <tr>
        <th>Member Details</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr class="member-item">
        <td>
          <app-members-item [memberItem]="member"></app-members-item>
        </td>
        <td>
          <button pButton type="submit" routerLink="{{member._id}}"  icon="pi pi-eye" class="p-button-secondary"></button>
          <button pButton type="button" routerLink="{{member._id}}/edit" icon="pi pi-pencil" class="p-button-warning"></button>
          <button pButton type="button" routerLink="{{member._id}}/delete" icon="pi pi-trash" class="p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>


</div>
<div class="row">
  <div class="card flex justify-content-center col-12">
    <p-paginator
            (onPageChange)="onPageChange($event)"
            [rows]="itemsPerPage"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
    ></p-paginator>
  </div>
</div>
<router-outlet></router-outlet>
