.main-content {
    min-height: calc(100vh - 140px);
    width: 100%;
    padding-bottom: 70px;
}

.main-content.open-sidebar {
    width: calc(100% - 200px);
    margin-left: 200px;
}

app-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}