<!--admin component work-->
<!--<h1>Admin</h1>-->
<!--{{admins|json}}-->
<p-table #dt [paginator]="true" [responsive]="true" [rows]="4" [value]="admins">
    <ng-template pTemplate="caption">
        <div class="p-clearfix" style="line-height: 1.87em">
            <p-messages [hideTransitionOptions]="'1500ms'" [showTransitionOptions]="'1500ms'"></p-messages>
            <button (click)="showDialogToAdd()" class="p-button-success p-pull-right" icon="pi pi-plus" label="Add"
                    pButton
                    type="button"></button>

        </div>
    </ng-template
    >
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Hire Date</th>
            <th>Salary</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </ng-template>

    <ng-template let-admin pTemplate="body">
        <tr>
            <td>{{admin._id}}</td>
            <td>{{admin.firstName}}</td>
            <td>{{admin.lastName}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.hireDate}}</td>
            <td>{{admin.salary}}</td>
            <td>
                <button class="p-button-info" icon="pi pi-eye" label="View"
                        pButton routerLink="{{admin._id}}"
                        type="button"></button>
            </td>
            <td>
                <button class="p-button-warning" icon="pi pi-pencil" label="Edit"
                        pButton
                        type="button"></button>
            </td>
            <td>
                <button (click)="confirmDeleteAdmin(admin)" class="p-button-danger" icon="pi pi-trash" label="Delete"
                        pButton
                        type="button"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{'width': '500px'}"
          header="Add Admin">
    <ng-container *ngIf="admin">
        <form #bookForm="ngForm" enctype="multipart/form-data">
            <div class="p-grid">
                <div class="p-col-12">
                    <label for="firstName">First Name</label>
                    <input #firstName="ngModel" [(ngModel)]="admin.firstName" id="firstName" name="firstName" required
                           type="text">
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                         class="p-error">First Name is required and should be valid
                    </div>
                    <p-messages key="firstName"></p-messages>
                </div>
                
                <div class="p-col-12">
                    <label for="lastName">Last Name</label>
                    <input #lastName="ngModel" [(ngModel)]="admin.lastName" id="lastName" name="lastName" required
                           type="text">
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                         class="p-error">Last Name is required and should be valid
                    </div>
                    <p-messages key="lastName"></p-messages>
                </div>

                <div class="p-col-12">
                    <label for="email">Email</label>
                    <input #email="ngModel" [(ngModel)]="admin.email" id="email" name="email" required type="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                         class="p-error">Email is required and should be Valid
                    </div>
                    <p-messages key="email"></p-messages>
                </div>

                <div class="p-col-12">
                    <label for="hireDate">Hire Date</label>
                    <input #hireDate="ngModel" [(ngModel)]="admin.hireDate" id="hireDate" name="hireDate" required
                           type="date">
                    <div *ngIf="hireDate.invalid && (hireDate.dirty || hireDate.touched)"
                         class="p-error">Hire Date is required and should be valid
                    </div>
                    <p-messages key="hireDate"></p-messages>
                </div>

                <div class="p-col-12">
                    <label for="salary">Salary</label>
                    <input #salary="ngModel" [(ngModel)]="admin.salary" id="salary" name="salary" required
                           type="number">
                    <div *ngIf="salary.invalid && (salary.dirty || salary.touched)"
                         class="p-error">Salary is required and should be valid
                    </div>
                    <p-messages key="salary"></p-messages>
                </div>

                <div class="p-dialog-footer">
                    <button (click)="saveAdmin()" label="Save" pButton
                            type="button"></button>
                    <button (click)="cancelDialog()" label="Cancel" pButton type="button"></button>
                </div>
            </div>

        </form>
    </ng-container>
</p-dialog>


<!--Dialog-->
<p-confirmDialog [closable]="true" header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <!--        <button type="button" pButton icon="pi pi-times" label="No" class="p-button-text" (click)="messageService.clear('deleteBook')"></button>-->
        <button (click)="confirmationService.close()" class="p-button-text" icon="pi pi-times" label="No" pButton
                type="button"></button>
        <button (click)="deleteConfirmed()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                type="button"></button>
    </p-footer>
</p-confirmDialog>