<div class="container">
    <div class="h1 text-center text-capitalize text-secondary"> Add new Member </div>
    <form class="col-8 offset-2" [formGroup]="addMember" (ngSubmit)="onSubmit()" *ngIf="!loadingService.isLoading$.value">
        <div class="mb-3">
            <label for="full_name" class="form-label">Fullname</label>
            <input
                    type="text"
                    class="form-control"
                    id="full_name"
                    formControlName="full_name"
                    [class.is-valid]="full_name?.valueChanges && full_name?.valid"
                    required
            />

            <ng-container *ngIf="full_name?.errors && full_name?.touched">
                <div *ngIf="full_name?.hasError('required')">
                    <div class="alert alert-danger mt-1" role="alert">
                        Please Enter Your Name
                    </div>
                </div>

            </ng-container>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    [class.is-valid]="email?.valueChanges && email?.valid"
                    required
            />
        </div>

        <ng-container *ngIf="email?.errors && email?.touched">
            <div *ngIf="email?.hasError('required')">
                <div class="alert alert-danger mt-1" role="alert">
                    Please Enter Your Email
                </div>
            </div>

        </ng-container>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    [class.is-valid]="password?.valueChanges && password?.valid"
                    required
            />
        </div>

        <!-- publisher validation  -->
        <ng-container *ngIf="password?.errors && password?.touched">
            <div *ngIf="password?.hasError('required')">
                <div class="alert alert-danger mt-1" role="alert">
                   Please Enter Your Password
                </div>
            </div>

        </ng-container>

        <div class="mb-3">
            <input
                    type="submit"
                    class="btn btn-success"
                    id="submit"
                    [disabled]="addMember.invalid"
            />
        </div>
    </form>
    <p-progressSpinner *ngIf="loadingService.isLoading$.value" styleClass="w-50  h-50 col-12"></p-progressSpinner>
</div>
