li {
    list-style: none !important;
}

body {
    margin: 0;
}

.p-error {
    font-size: 16px;
    margin-top: 5px;
}

.p-slidemenu,
.p-slidemenu-content,
.p-menu-list {
    height: 100vh !important;
}

@media screen and (max-width: 600px) {
    .p-menubar-start {
        width: 100%;
    }
}
